/* OVERRIDE BROWSER DEFAULTS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

/* GENERAL STYLES */
h1 {
  text-align: center;
  font-family: Helvetica, sans-serif;
}